[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 2.AndroidAnnotations_Vistas_y_Eventos - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1Y5y8K1rf2yusKYlBwHer8wXwJaIg9rk8
Icon=text-html
Name[es_ES]=AndroidAnnotations_Vistas_y_Eventos - Google Drive - Diapositivas
